body{
  /*color: #606266;*/
  /*color: #656b79;*/
  /*font-size: 12px!important;*/
}
.p1{
    line-height: 50px;
    padding-left:16px;
}
.instructions{
    font-size:14px;
    color:#cccccc;
}
.red_bg{
    background: #E64340;
}
.red{
    color:#E64340;
}
.dl{
    display: flex;
}
.font_small{
    font-size:14px;
    color:#cccccc;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.fontsize12{
    font-size: 12px;
}
.btn{
    margin-top: 20px;
    width:80%;
}
button.weui-btn, input.weui-btn{
     width:80% !important;
}
/*.weui-btn{*/
  /*font-size: 14px!important;*/
/*}*/
/*.weui-btn_mini{*/
  /*font-size: 14px!important;*/
/*}*/
button.weui-btn_inline, input.weui-btn_inline, button.weui-btn_mini, input.weui-btn_mini{
  width: unset!important;
}
