body{
  /*color: #606266;*/
  /*color: #656b79;*/
  /*font-size: 12px!important;*/
}
.p1{
    line-height: 50px;
    padding-left:16px;
}
.instructions{
    font-size:14px;
    color:#cccccc;
}
.red_bg{
    background: #E64340;
}
.red{
    color:#E64340;
}
.blue{
  color:blue;
}
.dl{
    display: flex;
}
.font_small{
    font-size:14px;
    color:#cccccc;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.fontsize12{
    font-size: 12px;
}
.btn{
    margin-top: 20px;
    width:80%;
}
button.weui-btn, input.weui-btn{
     width:80% !important;
}
/*.weui-btn{*/
  /*font-size: 14px!important;*/
/*}*/
/*.weui-btn_mini{*/
  /*font-size: 14px!important;*/
/*}*/
button.weui-btn_inline, input.weui-btn_inline, button.weui-btn_mini, input.weui-btn_mini{
  width: unset!important;
}
.weui-progress__inner-bar{
  background: linear-gradient(to right,#FF3E00 , #FF6800,#FFC800) !important;
  border-radius: 10px;
}
.product .dt{
  width:100px;
  height: 100px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.product .dt img{
  width:100%;
  max-height: 100%;
}
.product .dd{
  flex:1;
}
.product .p_name{
  font-size: 16px;
  font-weight: 600;
  text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.weui-grid__icon + .weui-grid__label{
  margin-top:10px !important;
}
.vux-timeline-item-tail{
  background: #E64340 !important;
}
.vux-timeline-item-color{
  background: #E64340 !important;
}
.vux-tab .vux-tab-item.vux-tab-selected{
  color:#E64340 !important;
  border-bottom: 2px solid #E64340 !important;
}
.vux-popup-header-right{
  color:#E64340 !important;
}
/* .vux-popup-header-left{
  color:blue !important;
} */
.weui-dialog__btn_primary{
  color:#E64340 !important;
}

/* 时间线处理 */
.vux-timeline-item-checked.weui-icon-success-no-circle::before {
  font-size: 0;
}

.vux-timeline-item-head-first {
  width: 10px;
  height: 10px;
  left: 1px;
}
.vux-timeline{
  padding: 20px;
}
.vux-timeline-item-content{
  padding-left: 16px;
  padding-bottom: 1px;
}
.vux-number-selector svg{
  fill:#E64340 !important;
}

